//
// Main styles go here!
// ========================================================


// Scaffolding
// --------------------------------------------------------

body {
	color: $text-color;
    font-family: $font-family-base;
}
body,
#backgroundWrapper {
    background-color: $body-bg;
}

#contentWrapper {
    background-color: $content-bg;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

#{headings()} {
	color: $headings-color !important;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;

    a {
        color: $headings-color !important;
        &:active,
        &:visited {
            color: $headings-color !important;
        }
    }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }



// Header
// --------------------------------------------------------

#headerTable {

}



// Body
// --------------------------------------------------------

#bodyTable {

}



// Footer
// --------------------------------------------------------

#footerTable {

}
